<%= form_with(model: property, local: true, :html => { :multipart => true }) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :property_attachments do |p| %>
     <div class="field">
       <%= p.label :photo %><br>
       <%= p.file_field :photo, :multiple => true, name: "property_attachments[photo][]" %>
     </div>
   <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
