<%= form_with(model: property, local: true, :html => { :multipart => true }) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name %>
  </div>
  <br/>
  <%= form.fields_for :property_attachments do |p| %>
     <div class="field">
       <%= p.label :photo, "Fotos" %> <br/>
       <%= p.file_field :photo, :multiple => true, name: "property_attachments[photo][]" %>
     </div>
   <% end %>
   
  <br/><br/>

  <div class="actions ">
  <%= link_to 'Voltar', properties_path, class:"btn btn-secondary" %>
    <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
  </div>
<% end %>
