<p id="notice"><%= notice %></p>

<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="p-3">
    <div class="d-sm-flex align-items-center mb-4">
      <%= link_to new_property_path, :class => "ml-1 d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
        <i class="fas fa-plus-square"></i>Nova propriedade
      <% end %>
    </div>          
  </div>

  <div class="row mr-1 ml-1">
    <% @properties.each do |property| %>
      <div class="col-lg-4">
        <div class="card">  
          <% if PropertyAttachment.all.where(property_id: property.id)[2].present? %>       
            <%= image_tag(PropertyAttachment.all.where(property_id: property.id)[2].photo.url) %>
          <% elsif PropertyAttachment.all.where(property_id: property.id).present? %> 
            <%= image_tag(PropertyAttachment.where(property_id: property.id).first.photo.url) %>
          <% else %>
            <p> sem fotos </p>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= property.name %></h5>
            <%= link_to 'Editar', edit_property_path(property), class:"btn btn-primary" %> 
            <%= link_to 'Show', property, class:"btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>